html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
input {
    margin: 0;
    padding: 0;
}

address,
cite,
dfn,
em,
var,
i {
    font-style: normal;
}

body {
    font-size: 24px;
    font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-size: 100%;
    font-weight: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

fieldset,
img {
    border: 0;
}

a {
    text-decoration: none;
    color: #666;
    background: none
}

ul,
ol {
    list-style: none;
}

:focus {
    outline: none;
}

.clearfix {
    clear: both;
    content: "";
    display: block;
    overflow: hidden
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/* 以上是处理元素默认样式以保持在各平台以相同展示 */

/* 以下是对Mint UI的样式进行修改 */
.mint-header{
    background-color: #fc5e2d;
    z-index: 999;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; */
}
.mint-cell-title ,.mint-cell-value{
    color: #191919;
    text-align: left;
}
.mint-cell-value span {
    color: #808080;
}

/* .mint-cell-allow-right::after {
    width: 2px;
    height: 2px;
} */

.mint-cell-value.is-link {
    margin-right: 30px;
}
.mint-msgbox{
  /* 为适应安卓低版本而修改 */
  position: fixed;
  top: 30%;
  left: 8%;
  transform:none;
  -webkit-transform:none;
}
.mint-popup{
  /* 为适应安卓低版本而修改 */
  position: fixed;
  left: 0;
  transform:none;
  -webkit-transform:none;
}

/* 公共样式 非mint-ui样式 */
.loadBottom{
    overflow: scroll;
}
.category .category_item{
    height: 100px;
    line-height: 100px;
    padding: 0 30px;
    border-bottom: 1px solid #e0e0e0;
}
.category .category_item span {
    font-size: 28px;
}
.category_item i {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-top: 30px;
    background: #fff url(../../../static/images/check.png) center center
    no-repeat;
    background-size: 42px 42px;
}
.category_item i.checked {
    background: #fff url(../../../static/images/checked.png) center center
    no-repeat;
    background-size: 42px 42px;
}
.emtpy{
    width: 50%;
    margin-top: 30%;
}




/* 富文本样式 */
#contentEditor{
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    padding: 10px;
    color: #444;
}
#contentEditor p{
    letter-spacing: 0.25px;
    font: 16px/25px Tahoma, Verdana, 宋体;
    margin: 20px 0px;
}
#contentEditor h4 {
    font-weight: bold;
    line-height: 1.333em;
    margin: 10px 0 20px;
    padding: 25px 0 0;
}
#contentEditor img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.dempTip{
    border-left: 2px solid #00BCD4;
    padding-left: 5px;
    margin: 10px;
    font-size: 16px;
}
code{
    white-space: pre-wrap;
    background: #2D2D2D;
    display: block;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
}
.viewTit{
    color: #FF5722;
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    background: #FFEB3B;
    box-shadow: 0 0 5px;
}


/* 以下是图片裁剪相关样式代码 start */

#clip_button {
    position: absolute;
    right: 10%;
    bottom: 20px;
    width: 60px;
    height:40px;
    text-align: center;
    line-height: 40px;
    border:none;
    border-radius: 8px;
    font-size: 14px;
    background: #1AAD19;
    color: #fff;
  }
  #cancel_clip{
    position: absolute;
    left: 10%;
    bottom: 20px;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border:none;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    background:#E64340;
  }
  #clip_container.container {
    z-index: 99;
    position: fixed;
    padding-top: 60px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,1);
  }
  #clip_container.container > div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  #clip_image {
    max-width: 100%;
  }
  
  .cropper-container {
    font-size: 0;
    line-height: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction: ltr;
    -ms-touch-action: none;
    touch-action: none
  }
  .crop_loading , .crop_success {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .crop_loading .crop_content{
    position: absolute;
    top: 50% ;
    left: 50%;
    text-align: center;
    background: none;
    opacity: 0.9;
    height: 100px;
    width: 200px;
    vertical-align: middle;
    color: #fff;
    padding-top: 20px;
    font-size: 26px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .crop_loading .crop_content img{
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .crop_success .crop_success_text{
    position: absolute;
    top: 50% ;
    left: 50%;
    text-align: center;
    background: #000;
    opacity: 0.9;
    width: 120px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .cropper-container img {
    /* Avoid margin top issue (Occur only when margin-top <= -height) */
    display: block;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    width: 100%;
    height: 100%;
    image-orientation: 0deg
  }
  
  .cropper-wrap-box,
  .cropper-canvas,
  .cropper-drag-box,
  .cropper-crop-box,
  .cropper-modal {
    /*  此处原为position: relative; 为适应安卓低版本，改为fixed*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .cropper-drag-box {
    opacity: 0;
    background-color: #fff;
  }
  
  .cropper-modal {
    opacity: .5;
    background-color: #000;
  }
  
  .cropper-view-box {
    display: block;
    overflow: hidden;
  
    width: 100%;
    height: 100%;
  
    outline: 1px solid #39f;
    outline-color: rgba(51, 153, 255, 0.75);
  }
  
  .cropper-dashed {
    position: absolute;
  
    display: block;
  
    opacity: .5;
    border: 0 dashed #eee
  }
  
  .cropper-dashed.dashed-h {
    top: 33.33333%;
    left: 0;
    width: 100%;
    height: 33.33333%;
    border-top-width: 1px;
    border-bottom-width: 1px
  }
  
  .cropper-dashed.dashed-v {
    top: 0;
    left: 33.33333%;
    width: 33.33333%;
    height: 100%;
    border-right-width: 1px;
    border-left-width: 1px
  }
  
  .cropper-center {
    position: absolute;
    top: 50%;
    left: 50%;
  
    display: block;
  
    width: 0;
    height: 0;
  
    opacity: .75
  }
  
  .cropper-center:before,
  .cropper-center:after {
    position: absolute;
    display: block;
    content: ' ';
    background-color: #eee
  }
  
  .cropper-center:before {
    top: 0;
    left: -3px;
    width: 7px;
    height: 1px
  }
  
  .cropper-center:after {
    top: -3px;
    left: 0;
    width: 1px;
    height: 7px
  }
  
  .cropper-face,
  .cropper-line,
  .cropper-point {
    position: absolute;
  
    display: block;
  
    width: 100%;
    height: 100%;
  
    opacity: .1;
  }
  
  .cropper-face {
    top: 0;
    left: 0;
  
    background-color: #fff;
  }
  
  .cropper-line {
    background-color: #39f
  }
  
  .cropper-line.line-e {
    top: 0;
    right: -3px;
    width: 5px;
    cursor: e-resize
  }
  
  .cropper-line.line-n {
    top: -3px;
    left: 0;
    height: 5px;
    cursor: n-resize
  }
  
  .cropper-line.line-w {
    top: 0;
    left: -3px;
    width: 5px;
    cursor: w-resize
  }
  
  .cropper-line.line-s {
    bottom: -3px;
    left: 0;
    height: 5px;
    cursor: s-resize
  }
  
  .cropper-point {
    width: 5px;
    height: 5px;
  
    opacity: .75;
    background-color: #39f
  }
  
  .cropper-point.point-e {
    top: 50%;
    right: -3px;
    margin-top: -3px;
    cursor: e-resize
  }
  
  .cropper-point.point-n {
    top: -3px;
    left: 50%;
    margin-left: -3px;
    cursor: n-resize
  }
  
  .cropper-point.point-w {
    top: 50%;
    left: -3px;
    margin-top: -3px;
    cursor: w-resize
  }
  
  .cropper-point.point-s {
    bottom: -3px;
    left: 50%;
    margin-left: -3px;
    cursor: s-resize
  }
  
  .cropper-point.point-ne {
    top: -3px;
    right: -3px;
    cursor: ne-resize
  }
  
  .cropper-point.point-nw {
    top: -3px;
    left: -3px;
    cursor: nw-resize
  }
  
  .cropper-point.point-sw {
    bottom: -3px;
    left: -3px;
    cursor: sw-resize
  }
  
  .cropper-point.point-se {
    right: -3px;
    bottom: -3px;
    width: 20px;
    height: 20px;
    cursor: se-resize;
    opacity: 1
  }
  
  @media (min-width: 768px) {
  
    .cropper-point.point-se {
      width: 15px;
      height: 15px
    }
  }
  
  @media (min-width: 992px) {
  
    .cropper-point.point-se {
      width: 10px;
      height: 10px
    }
  }
  
  @media (min-width: 1200px) {
  
    .cropper-point.point-se {
      width: 5px;
      height: 5px;
      opacity: .75
    }
  }
  
  .cropper-point.point-se:before {
    position: absolute;
    right: -50%;
    bottom: -50%;
    display: block;
    width: 200%;
    height: 200%;
    content: ' ';
    opacity: 0;
    background-color: #39f
  }
  
  .cropper-invisible {
    opacity: 0;
  }
  
  .cropper-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
  }
  
  .cropper-hide {
    position: absolute;
  
    display: block;
  
    width: 0;
    height: 0;
  }
  
  .cropper-hidden {
    display: none !important;
  }
  
  .cropper-move {
    cursor: move;
  }
  
  .cropper-crop {
    cursor: crosshair;
  }
  
  .cropper-disabled .cropper-drag-box,
  .cropper-disabled .cropper-face,
  .cropper-disabled .cropper-line,
  .cropper-disabled .cropper-point {
    cursor: not-allowed;
  }
  /* end */
 
