html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
input {
    margin: 0;
    padding: 0;
}

address,
cite,
dfn,
em,
var,
i {
    font-style: normal;
}

body {
    font-size: 24px;
    font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-size: 100%;
    font-weight: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

fieldset,
img {
    border: 0;
}

a {
    text-decoration: none;
    color: #666;
    background: none
}

ul,
ol {
    list-style: none;
}

:focus {
    outline: none;
}

.clearfix {
    clear: both;
    content: "";
    display: block;
    overflow: hidden
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/* 以上是处理元素默认样式以保持在各平台以相同展示 */

/* 以下是对Mint UI的样式进行修改 */
.mint-header{
    background-color: #fc5e2d;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; */
}
.mint-cell-title ,.mint-cell-value{
    color: #191919;
    text-align: left;
}
.mint-cell-value span {
    color: #808080;
}

/* 公共样式 非mint-ui样式 */
.loadBottom{
    overflow: scroll;
}
.category .category_item{
    height: 100px;
    line-height: 100px;
    padding: 0 30px;
    border-bottom: 1px solid #e0e0e0;
}
.category .category_item span {
    font-size: 28px;
}
.category_item i {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-top: 30px;
    background: #fff url(../../../static/images/check.png) center center
    no-repeat;
    background-size: 42px 42px;
}
.category_item i.checked {
    background: #fff url(../../../static/images/checked.png) center center
    no-repeat;
    background-size: 42px 42px;
}
 
