html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
input {
    margin: 0;
    padding: 0;
}

address,
cite,
dfn,
em,
var,
i {
    font-style: normal;
}

body {
    font-size: 24px;
    font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-size: 100%;
    font-weight: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

fieldset,
img {
    border: 0;
}

a {
    text-decoration: none;
    color: #666;
    background: none
}

ul,
ol {
    list-style: none;
}

:focus {
    outline: none;
}

.clearfix {
    clear: both;
    content: "";
    display: block;
    overflow: hidden
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/* 以上是处理元素默认样式以保持在各平台以相同展示 */

/* 以下是对Mint UI的样式进行修改 */
.mint-header{
    background-color: #fc5e2d;
    z-index: 999;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; */
}
.mint-cell-title ,.mint-cell-value{
    color: #191919;
    text-align: left;
}
.mint-cell-value span {
    color: #808080;
}

/* .mint-cell-allow-right::after {
    width: 2px;
    height: 2px;
} */

.mint-cell-value.is-link {
    margin-right: 30px;
}

/* 公共样式 非mint-ui样式 */
.loadBottom{
    overflow: scroll;
}
.category .category_item{
    height: 100px;
    line-height: 100px;
    padding: 0 30px;
    border-bottom: 1px solid #e0e0e0;
}
.category .category_item span {
    font-size: 28px;
}
.category_item i {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-top: 30px;
    background: #fff url(../../../static/images/check.png) center center
    no-repeat;
    background-size: 42px 42px;
}
.category_item i.checked {
    background: #fff url(../../../static/images/checked.png) center center
    no-repeat;
    background-size: 42px 42px;
}
.emtpy{
    width: 50%;
    margin-top: 30%;
}



/* 富文本样式 */
#contentEditor{
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    padding: 10px;
    color: #444;
}
#contentEditor p{
    letter-spacing: 0.25px;
    font: 16px/25px Tahoma, Verdana, 宋体;
    margin: 20px 0px;
}
#contentEditor h4 {
    font-weight: bold;
    line-height: 1.333em;
    margin: 10px 0 20px;
    padding: 25px 0 0;
}
#contentEditor img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.dempTip{
    border-left: 2px solid #00BCD4;
    padding-left: 5px;
    margin: 10px;
    font-size: 16px;
}
code{
    white-space: pre-wrap;
    background: #2D2D2D;
    display: block;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
}
.viewTit{
    color: #FF5722;
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    background: #FFEB3B;
    box-shadow: 0 0 5px;
}
 
