html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
input {
    margin: 0;
    padding: 0;
}

address,
cite,
dfn,
em,
var,
i {
    font-style: normal;
}

body {
    font-size: 24px;
    font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-size: 100%;
    font-weight: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

fieldset,
img {
    border: 0;
}

a {
    text-decoration: none;
    color: #666;
    background: none
}

ul,
ol {
    list-style: none;
}

:focus {
    outline: none;
}

.clearfix {
    clear: both;
    content: "";
    display: block;
    overflow: hidden
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/* 

.mint-header {
    width: 100%;
    height: 88px;
    line-height: 88px;
    background-color: #fc5e2d;
    font-size: 34px;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 4px;
    .is-left {
      i {
        font-size: 44px;
      }
    }
  }

   */

   /* .mint-msgbox{
    height: 25%;
  }
  .mint-msgbox-header{
      height:10%;
  }
  .mint-msgbox-title{
      font-size: 30px;
      margin: 29px 0;
  } */